{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * RSN Data plugin for Craft CMS 3.x
 *
 * RSN Data index.twig
 *
 * @author    Percipio
 * @copyright Copyright (c) 2020 Percipio
 * @link      https://percipio.london
 * @package   RsnData
 * @since     1.0.0
 */
#}
{%- extends "rsn-data/layouts/_cp" -%}

{%- import "_includes/forms" as forms -%}

{%- do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\indexcpsection\\IndexCPSectionAsset") -%}
{%- set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@percipioglobal/rsndata/assetbundles/indexcpsection/dist/img', true) -%}



{# The title of this CP section #}
{%- set title = "Schools"|t('rsn-data') -%}
{%- set selectedNavItem = 'schools' -%}
{%- set metaseedUrl = craft.app.plugins.getPlugin('rsn-data').settings.metaseedUrl -%}
{%- set selectedSite = craft.app.request.getQueryParam('site')|default('main') -%}
{%- set selectedTime = craft.app.request.getQueryParam('time')|default('3') -%}
{%- set selectedSchools = craft.app.request.getQueryParam('p')|default('0') -%}
{%- set eventSite = selectedSite -%}
{%- set markers = null -%}
{%- set uri = craft.app.request.fullPath() -%}

 {%- set end = date('now')|atom -%}

    {%- switch selectedTime -%}
        {%- case '1' -%}
            {%- set start = date('january 01 2019')|atom -%}
            {%- set monthCount = '24' -%}
        {%- case '3' -%}
            {%- set start = date('-3 months')|atom -%}
        {%- case '6' -%}
            {%- set start = date('-6 months')|atom -%}
        {%- case '12' -%}
            {%- set start = date('-12 months')|atom -%}
        {%- case '2022' -%}
            {%- set start = date('01 september 2021')|atom -%}
            {%- set end = date('31 july 2022')|atom -%}
        {%- case '2021' -%}
            {%- set start = date('01 september 2020')|atom -%}
            {%- set end = date('31 july 2021')|atom -%}
        {%- case '2020' -%}
            {%- set start = date('01 september 2019')|atom -%}
            {%- set end = date('31 july 2020')|atom -%}
        {%- default -%}
            {%- set start = date('-3 months')|atom -%}
    {%- endswitch -%}


{# any header buttons #}
{%- block actionButton -%}

    {%- include "rsn-data/_includes/sites-menu.twig" with {
        baseUrl: '/cp/rsn-data/' ~ selectedNavItem,
        currentSiteId: currentSite.id,
        currentSiteHandle: currentSite.handle,
        currentSiteName:  currentSite.name
    } -%}

    {%- include "rsn-data/_includes/time-menu.twig" with {
        baseUrl: '/cp/rsn-data/' ~ selectedNavItem,
        selectedTime: selectedTime,
        selectedSchools: selectedSchools
    } -%}


{%- endblock -%}


{%- set content -%}
 <p class="my-4 tracking-tight"> Showing data from <b>{{ start|date('d F, Y ') }}</b> to <b>{{ end|date('d F, Y ') }}</b></p>
    <p class="my-4">Change the map view to display your chosen data set by using the options above.</p>
    <form id="rsn-data-map" class="grid grid-cols-12">
        <div class="col-span-12 lg:col-span-4">
            {{ forms.selectField({
                id: 'map-level',
                label: 'Engagement Level',
                instructions: 'Select the engagement level to show',
                options: {
                    0: 'All Levels',
                    1: 'Engaged',
                    2: 'Sustained',
                    3: 'Embedded',
                },
            }) }}
        </div>
        <div class="col-span-12 lg:col-span-4">
            {{ forms.selectField({
                id: 'map-priority',
                label: 'Markers',
                instructions: 'Toggle marker display',
                options: {
                    0: 'All Schools',
                    1: 'Priority',
                    2: 'Non Priority',
                    3: 'Hide Markers',
                },
            }) }}
        </div>
        <div class="col-span-12 lg:col-span-4">
            {{ forms.lightswitchField({
                id: 'map-heat',
                label: 'Toggle heat map',
                instructions: 'Show engagement level heatmap',
                on: false,
            }) }}
        </div>
    </form>


    {%- if eventSite == 'main' -%}
        {%- set eventSite = '*' -%}
    {%- endif -%}

    {%- set events = craft.entries.section('events')
        .site(eventSite)
        .anyStatus()
        .all() -%}

    {%- set events = sortEvents(events, start, end) -%}

    {%- set exportData = [] -%}

    {%- for event in events -%}

        {%- set network = craft.globalSets()
            .handle('networkSettings')
            .siteId(event.siteId)
            .one() -%}
        {%- set allData = [] -%}
        {%- set dataEngagement = null -%}

        {% if event.type == 'onlineEvent' %}
            {% set eventTimetable = event.eventDatesTimeOnline.inReverse().one() %}
        {% else %}
            {% set eventTimetable = event.eventDatesTime.inReverse().one() %}
        {% endif %}

        {% set eventDate = eventTimetable.startDateTime ?? '' %}
        {% if eventDate %}
            {% set eventDate = eventTimetable.startDateTime|date('d/n/Y') %}
        {% endif %}

        {%- set info = {

            'info': {
                'rsn': network.networkShortName,
                'event': event.title,
                'eventid': event.id,
                'eventdate': eventDate
            }
        } -%}

        {%- if event.dataEngagement is iterable and (event.dataEngagement.data is not null and event.dataEngagement.data is iterable) -%}
            {%- set dataEngagement = event.dataEngagement.data -%}
            {%- set allData = dataEngagement|merge(allData) -%}
        {%- endif -%}

        {%- set exportData = arrayInsert(info, allData)|merge(exportData) -%}

        {%- if loop.last and exportData is not empty -%}

            {%- set markers = fetchGeo(exportData, selectedSchools, metaseedUrl) -%}

            <div id="engagementMap"
                 class="map-js mt-6"
                 data-iconbase="{{ baseAssetsUrl }}/"
                 data-markers="{{ markers }}"
            ></div>

        {%- endif -%}

        {%- if loop.last and allData|length == '0' -%}
            <div class="widget inline-flex p-1 w-full">
                <div class="front w-full">
                    <div class="pane relative">
                        <div class="widget-heading">
                            <h2 class="text-lg font-bold">No school data found</h2>
                            <h6 class="text-xs uppercase" data-time-set>Last 12 months</h6>
                            <div class="body mt-4">
                                <p>No engagement data has been found for this Research School.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endif -%}

    {%- endfor -%}

    {%- if events|length == 0 -%}
        <div class="widget inline-flex p-1 w-full">
            <div class="front w-full">
                <div class="pane">
                    <div class="widget-heading">
                        <h2 class="text-lg font-bold">No school data found</h2>
                        <h6 class="text-xs uppercase" data-time-set>Last 12 months</h6>
                        <div class="body mt-4">
                            <p>No engagement data has been found for this Research School.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}

{%- endset -%}