{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * RSN Data plugin for Craft CMS 3.x
 *
 * RSN Data index.twig
 *
 * @author    Percipio
 * @copyright Copyright (c) 2020 Percipio
 * @link      https://percipio.london
 * @package   RsnData
 * @since     1.0.0
 */
#}
{% extends "rsn-data/layouts/_cp" %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\rsndata\\RsnDataAsset") %}
{% do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# The title of this CP section #}
{% set title = "Trainings"|t('rsn-data') %}
{% set selectedNavItem = 'trainings' %}
{% set selectedSite = craft.app.request.getQueryParam('site')|default('main') %}

{# any header buttons #}
{% block actionButton %}
        {% include "rsn-data/_includes/sites-menu.twig" with {
            baseUrl: '/cp/rsn-data/' ~ selectedNavItem,
            currentSiteId: currentSite.id,
            currentSiteHandle: currentSite.handle,
            currentSiteName:  currentSite.name
        } %}
{% endblock %}

{% set content %}
    
<div class="tableview tablepane">
   <table class="data fullwidth">
    <thead>
        <tr>
            <th scope="col" data-attribute="title" class="orderable" style="width:35%">Training</th>
            <th scope="col" data-attribute="category" class="orderable">Type</th>
            <th scope="col" data-attribute="eventDate" class="ordered desc">Event Date</th>
            <th scope="col" data-attribute="attendees" class="orderable">Attendees</th>
            <th scope="col" data-attribute="engagement" class="orderable">Engagement</th>
        </tr>
    </thead>
    <tbody>

        {%- set events = craft.entries.section('events')
            .site(selectedSite)
            .orderBy('postDate desc')
            .anyStatus()
            .all()
        -%}

        {% for event in events %}
        {% set eventEnabled = 'disabled'%}{% if event.enabled %}{% set eventEnabled = 'enabled'%}{% endif %}
        {% if event.type == 'onlineEvent' %}
            {% set eventTimetable = event.eventDatesTimeOnline.one() %}
        {% else %}
            {% set eventTimetable = event.eventDatesTime.one() %}
        {% endif %}
        
        {% set eventDate = eventTimetable.startDateTime ?? '' %}
        {% if eventDate %}
            {% set eventDate = eventTimetable.startDateTime|date('d/n/Y - ') ~ eventTimetable.startTime|date('H:i') %}
        {% endif %}

        {% set dataEngagement = null %}
        {% set dataEnganged = 0 %}
        {% set dataSustained = 0 %}
        {% set dataEmbedded = 0 %}

        {% if event.dataEngagement is iterable %}
            {% set dataEngagement = event.dataEngagement.data %}

            {% for row in dataEngagement %}
                {% if row.attendance is defined %}
                {% switch row.attendance %}
                    {% case "1" %}
                        {% set dataEnganged = dataEnganged + 1 %}
                    {% case "2" %}
                        {% set dataSustained = dataSustained + 1 %}
                    {% default %}
                        {% set dataEmbedded = dataEmbedded + 1 %}
                {% endswitch %}
                {% endif %}
            {% endfor %}
            {% if dataEngagement|length > 0 %}
                {% set dataEnganged = ((dataEnganged / dataEngagement|length) * 100)|round %}
                {% set dataSustained = ((dataSustained / dataEngagement|length) * 100)|round %}
                {% set dataEmbedded = ((dataEmbedded / dataEngagement|length) * 100)|round %}
            {% endif %}

        {% endif %}
        
        <tr data-id="{{ event.id }}" tabindex="0">
            <td data-title="{{event.slug }} " data-titlecell="">
                <div class="element small hasstatus" 
                    data-type="craft\elements\Entry" 
                    data-id="{{ event.id }}" 
                    data-status="{{ eventEnabled }}" 
                    data-label="{{ event.title }}" 
                    data-url="{{ event.url }}"
                    title="{{ event.title }}">
                    <span class="status {{ eventEnabled }}"></span>
                    <div class="label">
                        <span class="title">
                            <a href="/cp/entries/pages/{{event.id}}-events?site={{selectedSite}}#tab-data-engagement">{{ event.title }}</a>
                        </span>
                    </div>
                </div>
            </td>
            
            <td data-titleType>
                {% set categoryName = event.eventCategories.one().title ??? '' %}
                <span>{{- categoryName -}}</span>
            </td>
            <td data-title="date" data-attr="date"> 
                <span>{{ eventDate }} </span>
            </td>
            <td data-title="Attendees">
                <span>{{ dataEngagement|length }} </span>
            </td>
            <td>
                <div class="progress">
                    <div class="meter bg-red" title="Engaged {{ dataEnganged }}%">
                        <span style="width: {{ dataEnganged }}%"></span>
                    </div>
                    <div class="meter bg-orange" title="Sustained {{ dataSustained }}%">
                        <span style="width: {{ dataSustained }}%"></span>
                    </div>
                    <div class="meter bg-blue" title="Embedded {{ dataEmbedded }}%">
                        <span style="width: {{ dataEmbedded }}%"></span>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>
{% endset %}